* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url("https://steemitimages.com/p/C3TZR1g81UNaPs7vzNXHueW5ZM76DSHWEY7onmfLxcK2iPPVzN4oRMxdisufRN5JeXnb4YLtRXbXTLr4tRknQrKoPxfhFHxrp8nZhnKJ7G6xd7gyocJbA2h?format=match&mode=fit");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
}

.btn-container{
    position: relative; 
    height: 200px; 
}
#startButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px; 
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.moving-element {
    transition: transform 5s;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
}

.body-con{
    display: inline;
}
#element-thats-moving{
    width: 130px;
    height: 130px;
}
#element-thats-moving1{
    width: 130px;
    height: 130px;
}
#element-thats-moving2{
    width: 130px;
    height: 130px;
}
#element-thats-moving3{
    width: 130px;
    height: 130px;
}
#element-thats-moving4{
    width: 130px;
    height: 130px;
}
#element-thats-moving5{
    width: 130px;
    height: 130px;
}
#element-thats-moving6{
    width: 130px;
    height: 130px;
}
#element-thats-moving7{
    width: 130px;
    height: 130px;
}
#element-thats-moving8{
    width: 130px;
    height: 130px;
}
#element-thats-moving9{
    width: 130px;
    height: 130px;
}
.moving-element {
    width: 500px;
    height: 500px;
}
.moving-element {
    width: 300px; 
    height: 300px; 
}
.moving-elements-visible{
    visibility: visible;
    opacity: 100;
}
.temp-class {
    transform: translateX(80%);
    transition: transform 5s;
}
.start-button {
    padding: 10px 20px;
    background-color: #12354b;
    color: #222;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 100%;
}
.start-button:hover {
    background-color: #2980b9;
}
.container {
    position: relative; 
}
.moving-element {
    width: 50px;
    height: 50px;
}
.temp-class {
    transform: translateX(80%);
    transition: transform 5s;
}
.fishing-pole{
    position: absolute;
    top: 80%;
    overflow: hidden;
    transform: rotate(-55deg);
}

.main-parent{
    display: inline;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.label-for-score{
    height: 40xp;
    width: 100%;
    margin: auto;
}
.label-wrapper div p{
    display: flex;
    font-size: 30px;
}
.label-wrapper{
    background-color: beige;
    border: 1px brown solid;
    width: 11%;
    padding: 5px;
}
