<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Oceana</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
  <header>
    <div class="logo" id="back">
        <h1><a routerLink="home" href="home">Oceana</a></h1>
    </div>
    <nav class="navi">
        <ul class="items">
            <li class="list"><a routerLink="home" href="home" class="lnk active"><i class="fa-solid fa-house"></i></a></li>
            <li class="list"><a routerLink="categories" href="categories" class="lnk"><i class="fa-solid fa-qrcode"></i></a>
                <!-- <ul class="submenu1">
                    <li class="sub crypto"><a href="#">fish</a>
                        <ul class="subsubmenu">
                            <li><a href="">ppad</a></li>
                            <li><a href="">svkjb</a></li>
                        </ul>
                      </li>
                    <li class="sub crypto"><a href="#">fish</a>
                        <ul class="subsubmenu">
                            <li><a href="">ppad</a></li>
                            <li><a href="">svkjb</a></li>                           
                        </ul>
                      </li>
                    <li class="sub crypto"><a href="#">fish</a>
                        <ul class="subsubmenu">
                            <li><a href="">ppad</a></li>
                            <li><a href="">svkjb</a></li>
                        </ul>
                      </li>
                    <li class="sub crypto"><a href="#">fish</a>
                        <ul class="subsubmenu">
                            <li><a href="">ppad</a></li>
                            <li><a href="">svkjb</a></li>
                        </ul>
                      </li>
                    <li class="sub crypto"><a href="#">fish</a>
                        <ul class="subsubmenu">
                            <li><a href="">ppad</a></li>
                            <li><a href="">svkjb</a></li>
                        </ul>
                      </li>
                    <li class="sub crypto"><a href="#">fish</a>
                        <ul class="subsubmenu">
                            <li><a href="">ppad</a></li>
                            <li><a href="">svkjb</a></li>
                        </ul>
                      </li>
                    </ul> -->
                </li>
                <li class="list"><a routerLink="news" href="news" class="lnk"><i class="fa-solid fa-newspaper"></i></a></li>
                <li class="list"><a routerLink="about" href="about" class="lnk"><i class="fa-solid fa-circle-info"></i></a></li>
            </ul>
        </nav>
        <div class="regi">
            <a href="signein" routerLink="signein" ><i class="fa-solid fa-user"></i></a>
        </div>
    </header>
    <router-outlet>
    </router-outlet>
  <footer>
    <div class="others">
      <div class="content">
          <div class="logo" id="back">
              <h1><a href="#">Oceana</a></h1>
          </div>
          <div class="links">
              <h2>Contact</h2>
              <ul>
                  <li><a href="#">null</a></li>
                  <li><a href="#">null</a></li>
              </ul>
          </div>
          <div class="malware">
              <h2>sea</h2>
              <ul>
                  <li><a href="#">null</a></li>
                  <li><a href="#">null</a></li>
                  <li><a href="#">null</a></li>
              </ul>
          </div>
          <div class="cryptography">
              <h2>ocean</h2>
              <ul>
                  <li><a href="#">null</a></li>
                  <li><a href="#">null</a></li>
                  <li><a href="#">null</a></li>
                  <li><a href="#">null</a></li>
              </ul>
          </div>
          <div class="certifications">
              <h2>fishes</h2>
              <ul>
                  <li><a href="#">null</a></li>
                  <li><a href="#">null</a></li>
                  <li><a href="#">null</a></li>
              </ul>
          </div>
          <div class="courses">
              <h2>whales</h2>
              <ul>
                  <li><a href="#">null</a></li>
                  <li><a href="#">null</a></li>
                  <li><a href="#">null</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-content">
            <p>&copy; 2023 Oceana</p>
        </div>
    </div>
    
</footer>

