<div class="profile">
    <div class="picture">
        <img src="../../assets/avatar-7337989_1280.png" alt="avatar">
        <h1 id="name">David</h1>
        <h1 id="lastname">Smith</h1>
        <button>Log Out</button>
    </div>
</div>
<div class="ppost">
    <div class="post">
        <div class="person">
            <img src="../../assets/avatar-7337989_1280.png" alt="avatar">
            <h1 id="name">David</h1>
            <h1 id="lastname">Smith</h1>
        </div>
        <div class="postTitleAndImage">
            <h2>River at Ganges needs cleaning</h2>
            <p>I'm reaching out about a critical issue regarding our local river. The river at India is facing severe pollution caused by litter, notably due to pedestrian negligence along its banks.
                The accumulation of debris, especially plastic waste, poses a significant threat to the river's ecosystem and wildlife. This pollution not only harms our environment but also impacts the health and well-being of our community.
                Immediate action is needed to address this problem. We must urgently raise awareness among pedestrians about responsible waste disposal to prevent further harm to our river.
                Thank you for your attention to this pressing matter.</p>
            <img src="../../assets/garbage-river.png" alt="pollutioned river">
        </div>
    </div>
</div>