<article>
    <a routerLink="article" href="article">
        <img src="../../assets/fishess.jpeg" alt="fishes">
        <h1 class="fade-in">Silent Waves: Unraveling the Crisis of Overfishing and Its Global Impact</h1>
    </a>
</article>
<div class="gapp">
    <h1>Latest</h1>
</div>
<div class="contain">
    <div class="man">
        <a routerLink="fishman" href="fishman">
            <div class="subman">
                <img src="../../assets/man walking.jpg" alt="fishing man">
                <h2>Diminishing Catch and Economic Strain: The Unyielding Challenges Faced by Fishermen</h2>
            </div>
        </a>
    </div>
    
    <div class="people">
        <a routerLink="people" href="people">
            <div class="subpeople">
                <img src="../../assets/people.png" alt="people">
                <h2>The Silent Plight Beneath the Surface</h2>
            </div>
        </a>
    </div>
    <div class="game">
        <a routerLink="game" href="game">
            <div class="subgame">
                <img src="../../assets/shifing.jpg" alt="fishing">
                <h2>Play Now</h2>
            </div>
        </a>
    </div>
</div>